/*Mixins and variables*/

$black-new: hsl(0, 1%, 30%);
$grey-def: hsl(0, 0%, 78%);
$grey-btn: hsl(233, 8%, 23%);
$white_darker: hsl(60, 24%, 96%);
$blue_adds: hsl(207, 89%, 54%);
$blue_light: hsl(207, 84%, 67%);
$orange: hsl(4, 93%, 65%);
$red_new: hsl(0, 100%, 50%);
$size-base: 1rem;
$desktop: 1169px+(2 * $gap);
$weight-black: 900;
$bg_menu_color:rgba(54, 55, 63, 0.9);


@mixin trans($duration:0.3s, $delay:0.5s, $anim:sease) {
    transition: all $duration $anim;
    transition-delay: $delay;
}

@mixin link() {
    position: relative;
    font-weight: $weight-black;
    font-size: $size-base;
    letter-spacing: -0.3px;

    &:after {
        content: '';
        position: absolute;
        left: 18px;
        right: 18px;
        bottom: 20px;
        opacity: 0;
        height: 100%;
        border-bottom: 0px solid #ffffff;
        -webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;
        -moz-box-shadow: inset 0px -1px 0px 0px #ffffff;
        box-shadow: inset 0px -1px 0px 0px #ffffff;
        @include trans(0.3s, 0.3, 'ease');
    }

    &.is-active {
        color: $blue_light;
    }

    &:hover {
        &:after {
            opacity: 1;
            bottom: 15px;
            @include trans(0.4s, 0.4, 'ease');
        }
    }
}