/* Basic styles */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: $black;
}

header {
    padding: 14px 40px;
    background-color: $bg_menu_color;
    @include trans(0.4s, 0.3s, 'ease-in');

    .logo-text {
        color: $white;
        font-size: 24px;
        font-weight: $weight-black;
        vertical-align: middle;
        line-height: 52px;
    }

    .navbar-menu {
        margin: 0 -18px;

        .navbar-item {
            @include link();
            @include trans(0.2s, 0.2s, 'ease-in');

            &.active {
                color: $blue_light;
                @include trans(0.2s, 0.2s, 'ease-in');

                &:hover {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &.scrollable {
        background-color: $bg_menu_color;
        @include trans(0.3s, 0.5s, 'ease-out');
    }
}

/* Main part*/

section {
    padding: 120px 0;

    /* Head Banner*/
    &.top-banner {
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background: url(images/hero-image.jpg) no-repeat scroll center center;
        background-size: cover;
        position: relative;

        .content {
            padding: 60px 0 80px;
            position: relative;
            z-index: 1;
            max-width: 1160px;
            text-align: center;

            h1 {
                font-weight: $weight-semibold;
                letter-spacing: .5px;
                font-size: 72px;
                line-height: 1.17;
                color: $white;
            }
        }
    }

    .banner-cover {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: linear-gradient(top, rgba(54, 55, 63, 0.80), rgba(54, 55, 63, 0.0));
        background-image: -ms-linear-gradient(top, rgba(54, 55, 63, 0.80), rgba(54, 55, 63, 0.0) 100%);
    }

    /* Section News*/
    &.news {
        padding: 120px 0 0px;

        .new-item {
            padding: 40px;
            line-height: 1.55;

            &.new-all {
                padding: 40px 0 80px 0;

                a {
                    &:before {
                        content: '';
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 15px;
                        background: url(images/icon.png) no-repeat center;
                    }
                }
            }
        }

        time {
            font-size: $size-base;
            line-height: 1.15;
            color: $grey_special;
            width: 135px;
        }

        .news_body {
            max-width: 610px;
            width: 100%;
        }

        .link {
            color: $blue_adds;
            display: block;

            &:before {
                content: '⇩';
                padding-right: 15px;
            }
        }
    }

    /* Section documents*/
    &.documents {

        background: $grey_docs;

        h2 {
            font-weight: $weight-bold;
            color: $white;
        }
    }

    .docs_items {
        flex-wrap: wrap;
        margin: 40px 0px 0;

        .column {

            &:hover {

                .content {
                    background-color: #f7f7f2;
                    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.40);

                }
            }

            .content {
                background-color: rgb(255, 255, 255);
                border-radius: 4px;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px 30px 20px;
                height: 250px;

                .title {
                    max-width: 200px;
                    display: block;
                }

                .format {
                    color: $blue_adds;
                    display: block;
                    font-weight: $weight-normal;
                    font-size: $size-base;

                    &:after {
                        content: " →";
                    }
                }

            }

        }
    }

    &.requisites {

        background: $white_darker;

        .columns {
            margin-top: 0;
        }

        .column {
            padding: 40px 60px;
            background: $white;
        }
    }

    &.contacts {
        margin-top: 0;
        padding-bottom: 0px;

        .columns {
            padding: 40px 0px 40px;

            &.contact-items {
                padding-bottom: 80px;
            }

        }

        .card {

            &-image {
                width: 90px;
                margin: 0 auto 15px;
            }

            .employees-contacts {
                font-size: 12px;

                .contacts-phone {
                    padding-bottom: 10px;
                }

                a {
                    color: $blue_light;

                }
            }

        }

        .feedback_wrapper {
            .contact_address {
                .subtitle {
                    max-width: 360px;
                }
            }

            .contact_items {
                margin-top: 40px;
                font-size: $size-6;

                a {
                    color: $blue_light;
                }

                .contacts_socials {
                    a {
                        background: url(images/vk.svg);
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        margin-top: 20px;
                    }
                }
            }
        }

        form {
            .control {
                position: relative;

            }

            .field {
                max-width: 460px;
                margin-top: 25px;

                .help {
                    margin-top: 5px;
                    font-size: 13px;
                    display: none;
                }

                &.error {
                    input {
                        border-color: $red_new;
                    }

                    .help {
                        display: block;
                    }
                }

                input,
                textarea {
                    width: 100%;
                    height: 60px;
                    padding: 26px 20px 10px 20px;
                    border: 1px solid $grey-def;
                    -webkit-appearance: none;

                    &+.label {
                        color: $grey-def;
                        position: absolute;
                        left: 20px;
                        top: 20px;
                        height: 16px;
                        transform: translateZ(0);
                        transition: transform 0.2s linear;
                        transform-origin: left;
                        pointer-events: none;
                        white-space: nowrap;

                        &.has-text {
                            transform: translateY(-12px) scale(.7);
                        }
                    }

                    &:focus {
                        outline: transparent;

                        &+.label {
                            transform: translateY(-12px) scale(.7);
                        }
                    }
                }

                .textarea {
                    height: 170px;
                }
            }

            .checkbox {
                &.error {
                    padding: 10px;
                    border: 1px solid $red_new;

                    &+.help {
                        display: block;
                    }
                }

                input {
                    display: none;

                    &+.label-checkbox {
                        font-size: 15px;
                        position: relative;

                        a {
                            color: $blue_light;
                        }

                        &:hover {
                            cursor: pointer;
                        }

                        &:before {
                            content: '';
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            height: 20px;
                            width: 20px;
                            border: 2px solid $black;
                            margin-right: 10px;
                            -webkit-transition: all 0.2s;
                            transition: all 0.2s;
                            opacity: .6;
                        }
                    }

                    &:checked {
                        &+.label-checkbox {
                            &:before {
                                opacity: 1;
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                left: 8px;
                                top: 4px;
                                width: 5px;
                                height: 10px;
                                border: solid #0a0a0a;
                                border-width: 0 2px 2px 0;
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }

            .help {
                &.last {
                    font-size: 20px;
                    color: $white;
                    font-weight: $weight-light;
                    background: $orange;
                    text-align: center;
                    padding: 20px;
                    margin-bottom: 25px;

                }
            }

            .button {
                font-weight: $weight-bold;
                font-size: $size-base;
                background: $grey-btn;
                padding: 0 60px;
                height: 60px;

                &:focus {
                    box-shadow: none;
                }

            }
        }
    }

    .table {
        td {
            color: $black-new;

            &:last-child {
                white-space: nowrap;
            }
        }
    }

    .separator {
        &.container {
            display: table;
            text-align: center;
            max-width: 760px;
            width: 100%;
            overflow: hidden;
            opacity: 0.2;

            .line {
                display: table-cell;
                max-width: 200px;
                width: 30%;
                height: 1px;
            }

            .left {
                background-image: linear-gradient(right, $black, rgba(0, 0, 0, 0));
            }

            .center {
                background: $black;
            }

            .right {
                background-image: linear-gradient(left, $black, rgba(0, 0, 0, 0));
            }
        }
    }

}

.map {
    height: 40vh;
}

.footer {
    background: $grey_docs;
    color: $white;
    font-weight: $weight-light;
    position: relative;

    .content {
        padding: 0 20px;
    }

    .is-left {
        font-size: $size-7;
    }

    .column {

        a {
            width: 30px;
            height: 30px;
            display: inline-block;
            background: url(images/vk_light.svg) no-repeat center;
        }
    }
}

/* Adaptive Adds */

@media screen and (min-width:1169px) {

    section {
        padding: 120px 0.75rem 120px;
        overflow: hidden;

        .top-banner .content h1 {
            font-size: 68px;
        }

        &.news .new-item {
            padding: 40px 20px;
            margin: 0;
        }

        .news .new-item.new-all {
            padding: 40px 0 0;
        }

        &.contacts {
            .feedback_wrapper {
                .contact_address {
                    .title {
                        font-size: $size-4;
                    }

                    .subtitle {
                        font-size: $size-4;
                    }

                }
            }
        }
    }

    .content h2 {
        font-size: 78px;
    }

    .title-item {
        padding-bottom: 30px;
    }

    .table td,
    .table th {
        font-size: $size-base;
    }

    .navbar-menu.is-active {
        padding-bottom: 20px;
    }

}

@media screen and (max-width:959px) {
    header {
        padding: 0;
    }

    .navbar {
        background: $black;

        &.is-fixed-top {
            position: static;
        }

        .navbar-brand {
            display: none;
        }

        .navbar-item {
            &:after {
                display: none;
            }
        }
    }

    .nav-bar {
        min-height: 3rem;
    }

    .navbar-burger {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    .navbar-brand,
    .navbar-menu {
        background: $grey_docs
    }

    .logo-text {
        width: 100%;
        font-size: 24px;
        padding: 30px 40px 55px;
        display: block;
    }

    section {
        padding: 90px 1rem 60px;

        &.requisites {
            .columns {
                margin: 0;
                padding: 20px;
            }

            .column {
                padding: 20px;
            }
        }

        &.contacts {
            form {
                .field {
                    margin: 25px auto 0;
                    padding: 0 20px;
                    max-width: none;

                    .checkbox {
                        text-align: left;

                        input {
                            &+.label-checkbox {
                                font-size: 0.85rem;
                            }
                        }
                    }

                    .button {
                        width: 100%;
                    }
                }
            }
        }

        &.news {
            .new-item {
                padding: 40px 0;
            }
        }

        &.documents {
            .columns {
                justify-content: center;
            }
        }

        .docs_items .column .content {
            height: auto;
        }

        .table td:first-child {
            width: auto;
        }

        .table td:last-child {
            white-space: normal;
            width: auto;
        }

        .table {
            table-layout: fixed;

            td,
            th {
                width: auto;

                &:first-child {
                    width: auto;
                }

                &:last-child {
                    width: auto;
                }
            }
        }

    }

    .table td,
    .table th {
        font-size: $size-7;
    }

    .contact_address {
        .subtitle {
            margin: 0 auto;
        }
    }

    .footer {
        .is-left {
            font-size: .75rem;
        }
    }
}

@media screen and (max-width:767px) {
    .navbar-burger {
        height: 4rem;
    }

    section {
        &.news {
            .new-item {
                padding: 40px;
            }
        }

        &.top-banner .content h1,
        .content h2 {
            font-size: 32px;
        }

        &.requisites .columns {
            padding: 0;
        }

        .table td:first-child {
            width: 40%;
        }
    }
}