<footer class="footer">
    <div class="container content">
        <div class="columns level">
            <div class="column is-10"><span class="is-left level-left">Официальный сайт садоводческого некоммерческого товарищества «ВНИИМ имени Менделеева»</span></div>
            <div class="column is-1"><span class="level-right"><a href="" title="vk"></a></span></div>
        </div>
    </div>
</footer>