<!-- HEADER Part -->
<header class="navbar is-fixed-top">
        <a role="button" class="navbar-burger is-hidden-desktop" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    <div class="navbar-brand is-left has-text-centered-mobile has-text-centered-tablet">
        <a href="/" class="logo-text">СНТ «ВНИИМ имени Менделеева»</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end has-text-centered-mobile has-text-centered-tablet">
            <a href="#news" class="navbar-item">Новости</a>
            <a href="#documents" class="navbar-item">Документы</a>
            <a href="#requisites" class="navbar-item">Реквизиты</a>
            <a href="#contacts" class="navbar-item">Контакты</a>
        </div>
    </div>
</header>