<footer class="footer">
    <div class="container content">
        <div class="columns">
            <div class="column is-11"><span class="is-left">Официальный сайт садоводческого некоммерческого товарищества «ВНИИМ имени Менделеева»</span></div>
            <div class="column"><span class="is-right"><a href="" title="vk"></a></span></div>
        </div>
    </div>
</footer>