<!-- HEADER Part -->
<div class="mobile_menu is-hidden-desktop">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>

    <div class="navbar-menu has-text-centered">
        <div class="navbar-brand">
                <a href="/" class="logo-text">СНТ «ВНИИМ имени Менделеева»</a>
        </div>
        <div class="navbar-end is-center">
            <a href="#news" class="navbar-item">Новости</a>
            <a href="#documents" class="navbar-item">Документы</a>
            <a href="#requisites" class="navbar-item">Реквизиты</a>
            <a href="#contacts" class="navbar-item">Контакты</a>
        </div>
    </div>
</div>

<header class="navbar is-fixed-top is-hidden-tablet is-hidden-mobile">

    <div class="navbar-brand is-left">
        <a href="/" class="logo-text">СНТ «ВНИИМ имени Менделеева»</a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a href="#news" class="navbar-item">Новости</a>
            <a href="#documents" class="navbar-item">Документы</a>
            <a href="#requisites" class="navbar-item">Реквизиты</a>
            <a href="#contacts" class="navbar-item">Контакты</a>
        </div>
    </div>
</header>