<main class="wrapper">
    <section class="is-fluid top-banner">
        <div class="content">
            <h1 class="title">СНТ «ВНИИМ имени Менделеева»</h1>
        </div>
    </section>
    <section id="news" class="news content">
        <div class="content has-text-centered">
            <h2 class="title ">Новости</h2>
        </div>
        <div class="columns is-centered ">
            <div class="column is-half">
                <div class="columns new-item">
                    <time datetime="2018-09-05">05.09.2018</time>
                    <div class="content news_body">
                        <h6 class="title is-6">График ремонта дорог на сентябрь
                            2018</h6>
                        <div class="notice-body">
                            <p>Будет производиться выравнивание дорог (работа
                                трактора) и подсыпка отсевом и щебнем в
                                следующем
                                порядке:</p>
                            <ol>
                                <li>С 10 сентября 2018 года по 12 сентября 2018
                                    года<br>Улицы:
                                    Рябиновая, Светлая, Тупиковая, Дальняя,
                                    Солнечная,
                                    Луговая, Строителей, 6 линия, Осиновая,
                                    Сосновая.</li>
                                <li>С 17 сентября 2018 года – по 19 сентября
                                    2018
                                    года<br>Улицы:
                                    Садовая, 3 линия, 5 линия, Берёзовая,
                                    Липовая,
                                    Ореховая.</li>
                            </ol>
                            <p> Возможны изменения в связи с погодными
                                условиями.</p>
                        </div>
                    </div>
                </div>
                <div class="columns new-item">
                    <time datetime="2018-07-20">20.07.2018</time>
                    <div class="content news_body">
                        <h6 class="title is-6">Общее собрание 04.08.2018</h6>
                        <div class="notice-body">
                            <p>4 августа будет проводиться общее собрание
                                собственников.</p>
                            <p>Повестка собрания:</p>
                            <ol>
                                <li>Отчет председателя о проделанной работе за
                                    2018
                                    г.</li>
                                <li>Отчет ревизионной комиссии</li>
                                <li>Утверждение проекта Устава с внесением
                                    предложенных изменений</li>
                                <li>Обсуждение проекта сметы на 2019 г.</li>
                            </ol>

                            <a class="link" href="#">Проект Устава</a>
                            <a class="link" href="#">Проект сметы на 2019 г.</a>
                        </div>
                    </div>
                </div>
                <div class="columns new-item new-all">
                    <div class="content">
                        <h6 class="title is-6"><a href="/">Архив новостей</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="documents" class="documents content">
        <div class="container">
            <div class="content has-text-centered">
                <h2 class="title-item">Документы</h2>
            </div>
            <div class="columns docs_items">
                <a class="column is-one-quarter" href="/" download>
                    <span class="content">
                        <span class="title-item">Устав товарищества</span>
                        <span class="format">PDF</span>
                    </span>
                </a>
                <a class="column is-one-quarter" href="/" download>
                    <span class="content">
                        <span class="title-item">Свидетельство о государственной регистрации некоммерческой организации</span>
                        <span class="format">PDF</span>
                    </span>
                </a>
                <a class="column is-one-quarter" href="/" download>
                    <span class="content">
                        <span class="title-item">Правила СНТ</span>
                        <span class="format">PDF</span>
                    </span>
                </a>
                <a class="column is-one-quarter" href="/" download>
                    <span class="content">
                        <span class="title-item">Реестр членов некоммерческого объединения</span>
                        <span class="format">Excel</span>
                    </span>
                </a>
                <a class="column is-one-quarter" href="/" download>
                    <span class="content">
                        <span class="title-item">Смета 2018</span>
                        <span class="format">PDF</span>
                    </span>
                </a>
                <a class="column is-one-quarter" href="/" download>
                    <span class="content">
                        <span class="title-item">Финансовые итоги 2017</span>
                        <span class="format">PDF</span>
                    </span>
                </a>
                <a class="column is-one-quarter" href="/" download>
                    <span class="content">
                        <span class="title-item">Договор на пользование объектами инфраструктуры</span>
                        <span class="format">PDF</span>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section id="requisites" class="requisites content">
        <div class="container">
            <div class="content has-text-centered">
                <h2 class="title">Реквизиты</h2>
            </div>
            <div class="columns  is-centered">
                <div class="column">
                    <table class="table is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Банк получатель</td>
                                <td>ПАО «Сбербанк»</td>
                            </tr>
                            <tr>
                                <td>Корр. счёт</td>
                                <td>30101810145250000974</td>
                            </tr>
                            <tr>
                                <td>Расчётный счёт</td>
                                <td>40817810655862704051</td>
                            </tr>
                            <tr>
                                <td>БИК</td>
                                <td>044030653</td>
                            </tr>
                            <tr>
                                <td>ИНН</td>
                                <td>7807344475</td>
                            </tr>
                            <tr>
                                <td>Получатель</td>
                                <td>СНТ «ВНИИМ имени Менделеева»</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section id="contacts" class="contacts">
        <div class="container">
            <div class="content has-text-centered">
                <h2 class="title">Контакты</h2>
            </div>
            <div class="columns contact-items">
                <div class="column is-one-quarter" href="/" download>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by3">
                                <img src="images/president.jpg" alt="president">
                            </figure>
                        </div>
                        <div class="content has-text-centered">
                            <p class="title is-6">Председатель правления</p>
                            <p class="subtitle is-7">Валентина Николаевна
                                Мальцева</p>
                            <div class="employees-contacts">
                                <p class="contacts-phone">+7 900 242-88-54</p>
                                <a class="contacts-email" href="mailto:president@vniim-mendeleeva.snt.ru">president@vniim-mendeleeva.snt.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter" href="/" download>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by3">
                                <img src="images/accountant.jpg" alt="accountant">
                            </figure>
                        </div>
                        <div class="content has-text-centered">
                            <p class="title is-6">Главный бухгалтер</p>
                            <p class="subtitle is-7">Елена Владимировна Сивенко</p>
                            <div class="employees-contacts">
                                <p class="contacts-phone">+7 921 393-00-07</p>
                                <a class="contacts-email" href="mailto:accounting@vniim-mendeleeva.snt.ru">accounting@vniim-mendeleeva.snt.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter" href="/" download>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by3">
                                <img src="images/energy.jpg" alt="energy">
                            </figure>
                        </div>
                        <div class="content has-text-centered">
                            <p class="title is-6">Главный энергетик</p>
                            <p class="subtitle is-7">Борис Дмитриевич Поляков</p>
                            <div class="employees-contacts">
                                <p class="contacts-phone">+7 911 239-39-30</p>
                                <a class="contacts-email" href="mailto:energy@vniim-mendeleeva.snt.ru">energy@vniim-mendeleeva.snt.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-quarter" href="/" download>
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-3by3">
                                <img src="images/electricity.jpg" alt="electricity">
                            </figure>
                        </div>
                        <div class="content has-text-centered">
                            <p class="title is-6">Электрик</p>
                            <p class="subtitle is-7">Сергей Владимирович
                                Курочкин</p>
                            <div class="employees-contacts">
                                <p class="contacts-phone">+7 921 921-02-42</p>
                                <a class="contacts-email" href="mailto:electricity@vniim-mendeleeva.snt.ru">electricity@vniim-mendeleeva.snt.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator container">
                <div class="line left"></div>
                <div class="line center"></div>
                <div class="line right"></div>
            </div>
            <div class="columns  is-centered">
                <div class="column">
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <p class="title is-6">Часы приёма</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Май</td>
                                <td>11:00–14:00</td>
                                <td>воскресенье</td>
                            </tr>
                            <tr>
                                <td>Июнь, июль</td>
                                <td>11:00–14:00</td>
                                <td>четверг, воскресенье</td>
                            </tr>
                            <tr>
                                <td>Август — 15 сентября</td>
                                <td>11:00–14:00</td>
                                <td>пятница, воскресенье</td>
                            </tr>
                            <tr>
                                <td>16 сентября — октябрь</td>
                                <td>12:00–14:00</td>
                                <td>вторник, суббота</td>
                            </tr>
                            <tr>
                                <td>Ноябрь, декабрь</td>
                                <td>12:00–14:00</td>
                                <td>второе и последнее воскресенье</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="separator container">
                <div class="line left"></div>
                <div class="line center"></div>
                <div class="line right"></div>
            </div>

            <div class="feedback_wrapper content">
                <div class="columns">
                    <div class="column contacts">
                        <div class="contact_address">
                            <p class="title is-3">Адрес:</p>
                            <p class="subtitle is-3">Ленинская дорога, 6
                                Мшинское с/п Ленинградская область Лужский
                                район<br>188250</p>
                        </div>
                        <div class="contact_items">
                            <div class="contacts_phone">+7 900 456 78 90</div>
                            <div class="contacts_email"><a href="mailto:info@vniim-mendeleeva.snt.ru">info@vniim-mendeleeva.snt.ru</a></div>
                            <div class="contacts_socials"><a class="vk" href="#"></a></div>
                        </div>
                    </div>
                    <div class="column form">
                        <div class="form_title">Обратная связь</div>
                        <form action type="POST" id="feedback">
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text">
                                    <label class="label">Ваше Имя</label>
                                </div>
                                <p class="help has-text-danger">Required field</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text">
                                    <label class="label">Ваша электронная почта</label>
                                </div>
                                <p class="help has-text-danger">Please fill out
                                    all required fields</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text">
                                    <label class="label">Ваш телефон</label>
                                </div>
                                <p class="help has-text-danger">Please fill out
                                    all required fields</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" type="text">
                                    <label class="label">Тема сообщения</label>
                                </div>
                            </div>
                            <div class="field textarea">
                                <div class="control">
                                    <textarea class="textarea"></textarea>
                                    <label class="label">Сообщение</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control checkbox">
                                    <input type="checkbox" id="terms">
                                    <label class="label-checkbox" for="terms">
                                        Даю согласие на обработку персональных
                                        данных в соответствии с <a href="#"
                                            target="_blank">пользовательским
                                            соглашением</a>
                                    </label>
                                </div>
                                <p class="help has-text-danger">Please fill out
                                    all required fields</p>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <p class="help last">Please fill out all
                                        required fields</p>
                                    <button type="submit" class="button is-dark is-rounded">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
                <iframe src="https://yandex.ru/map-widget/v1/-/CBB67DxtLC" width="100%" height="100%" frameborder="0" allowfullscreen="true"></iframe>
        </div>
    </section>
</main>